[submodule "Hashids/hashids.c"]
	path = Hashids/hashids.c
	url = git@github.com:DrGodCarl/hashids.c.git
[submodule "hashids-objc"]
	path = hashids-objc
	url = git@github.com:DrGodCarl/hashids-objc.git
